-const prettyDate = (s) => new Date(s).toLocaleString('en-US', {month: 'long', day: 'numeric', year: 'numeric', timeZone: 'UTC'});

mixin date(d, t)
	time(datetime=d itemprop=t)= prettyDate(d)

mixin picture(path, width, height, alt)
	- var ext = path.substr(path.length - 4);
	picture
		source(
			srcset=`${path.replace(ext, '.webp')}, ${path.replace(ext, '@2x.webp')} 2x`
			type="image/webp"
		)
		img(
			alt=alt
			src=path
			srcset=`${path.replace(ext, `@2x${ext}`)} 2x`
			width=width
			height=height
			loading="lazy"
		)

mixin appStore(url, alt)
	a(href=url target="_blank")
		img(alt=alt src="/images/Apple_Store_EN.svg" width="150" height="44")

mixin playStore(url, alt)
	a(href=url target="_blank")
		img(alt=alt src="/images/Google_Play_Store_badge_EN.svg" width="150" height="44")

mixin blogEntry({ date, dateModified })
	div.entry-meta
		span Article by
		span(itemprop="author publisher").author= global.author
		span posted on
		+date(date, 'datePublished')
		if dateModified
			span , updated
			+date(dateModified, 'dateModified')

mixin blogDateShort({ date, dateModified })
	if dateModified
		+date(dateModified, 'dateModified')
	else
		+date(date, 'datePublished')
