.masthead
  ul.slideshow
    each image in public.photos._data.index.slideshow
      li
        img(
          src='/images/photos/slideshow/#{ image.url }'
          title='#{ image.title }'
          alt='#{ image.alt }'
          width='950'
          height='600'
        )

section.albums.flickr
  each album in public.photos._data.index.flickr
    a.album(
      href="https://www.flickr.com/photos/olemichelsen/sets/#{ album.id }/"
      data-url="#{ album.thumbnail.url }"
    )
      .title= album.title

section.albums
  a.album.travel-map(href="travel-map.html")
    .title World Travel Map

script(src='#{ libs.jquery }')
script.
  $(function() {
    $('.flickr.albums .album').css('background-image', function () {
      return 'url(' + $(this).data('url') + ')';
    });
  });
  window.onload = function () { new SlideShow('.slideshow'); };
