section#photos
  ul.slideshow(style='height:600px')
    li
      img(src='#{ cdn }photos/images/mirror-lake.jpg', title='Mirror Lake, California', alt='Composite of 4 images combined for higher resolution', width='950', height='600')
    li
      img(src='#{ cdn }photos/images/eagle.jpg', title='Sea Eagle, Malaysia', alt='Caught flying quite close with a tele lens', width='950', height='600')
    li
      img(src='#{ cdn }photos/images/joshua-tree.jpg', title='Joshua Tree, California', alt='Casual shot lying comfortably in the middle of the road', width='950', height='600')
    li
      img(src='#{ cdn }photos/images/white-flower.jpg', title='Flower, Singapore', alt='Taken in Fort Canning Park', width='950', height='600')
    li
      img(src='#{ cdn }photos/images/skuespilhuset.jpg', title='Skuespilhuset, Copenhagen', alt='Shot by night with 1s shutter', width='950', height='600')
    li
      img(src='#{ cdn }photos/images/posters.jpg', title='Posters, Berlin', alt='A wall on the rail tracks caught my eye', width='950', height='600')
    li
      img(src='#{ cdn }photos/images/elizabeth-bridge.jpg', title='Elizabeth Bridge, Budapest', alt='Shot in high contrast black and white', width='950', height='600')
    li
      img(src='#{ cdn }photos/images/istanbul.jpg', title='Istanbul', alt='Shots from the historic markets', width='950', height='600')
section
  h2 Photography
  .columns
    .col(style='width:65.67%')
      p
        | These are photographs I have taken on holiday and in my spare time. My interest for photography began with my first travels to China in 2005, where the scenery was simply breathtaking, and the culture so different that only pictures could clearly describe the many impressions.
      p
        | Since then I have learned a lot about composure and the different techniques to create alternate interpretations of the subject. Places you pass every day can change dramatically when viewed through the viewfinder, and walking around Copenhagen discovering details other people might miss is still one of my favorite pastimes.
      p(style='float:left')
        span.flickr-small
        | &nbsp;
        a(href='http://www.flickr.com/photos/olemichelsen', rel='external') My photostream
        | &nbsp;on Flickr
    .col
      a#travelmap.frame(href='travel-map.html')
        img(alt='World Travel Map', src='#{ cdn }photos/travel-map.jpg', width='280', height='151')
        img(alt='World Travel Map', src='#{ cdn }photos/travel-map-desaturated.jpg', width='280', height='151')
      p
        img.icon(alt='Google Logo', src='http://www.google.com/favicon.ico')
        | &nbsp;Created a&nbsp;
        a(href='travel-map.html') World Travel Map
        | &nbsp;from GPS data
        br
        time(datetime='2011-12-31')
          | Saturday, December 31
          sup th
          | 2011

script(src='#{ libs.jquery }')
include ../../bower_components/jquery.animate-enhanced/jquery.animate-enhanced.min.js
include ../../bower_components/jquery-slideshow/jquery.slideshow.min.js
script.
  $(function() {
      $('.slideshow').slideshow({ timeout: 5000, speed: 2000 });
  });
