#travel-map
  #map-canvas
  .images
    for image, slug in public.photos._data['travel-map'].images
      img(
        class='image'
        data-echo='/images/photos/map/#{ encodeURIComponent(slug) }'
        src='/images/0.png'
        width=image.width
        height=image.height
      )

script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCPqiUhRvSy2m5N__6fIvANVRq2j-q7w2A')
script(src='#{ libs.masonry }')
script
  != 'var locations = ' + JSON.stringify(public.photos._data['travel-map'].images)
script
  include ../scripts/markerclusterer-1.0.min.js
script
  include ../scripts/travel-map.js
script
  include ../scripts/echo.js
