doctype
html(lang="#{ language }", class="#{ current.path.length > 1 ? current.path[0] : '' }")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title + ' | Ole Michelsen'
    meta(name="description", content="#{ description }")
    meta(name="author", content="#{ author }")
    link(rel="stylesheet", href="/styles/app.css")
    include _shared/stylesheets
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="alternate", href="#{ url }feed.xml", type="application/rss+xml", title="Ole Michelsen Latest Updates")
    block head
    include _shared/analytics.jade
    <!--[if lt IE 9]><script src="#{ libs.html5shiv }"></script><![endif]-->

  body(itemscope, itemtype="http://schema.org/WebPage")

    #container
      header#header
        .title
          h1= author
          h2= tagline
        nav#topnav
          ul.menu
            li
              a(href="/") Home
            li
              a(href="/blog/", title="Um gesh de blårg blårg!") Blog
                span.subtitle Things I say
            li
              a(href="/portfolio/") Portfolio
                span.subtitle Things I do
            li
              a(href="/tools/") Tools
                span.subtitle Things I build
            li
              a(href="/profile.html") Profile
                span.subtitle Things about me
            li
              a(href="/photos/") Photos
                span.subtitle Things I see
            li.feed
              a(href="/feed.xml") Feed
                span.subtitle Latest things

      #content
        block content
          != yield

      footer#footer
        .inner
          p.colophon
            | Created by&nbsp;
            a(href='/profile.html', rel='author')= author
            | &nbsp;updated&nbsp;
            include _shared/date
          p.sitemappath
            include _shared/breadcrumbs

    include _shared/javascripts
    block scripts
