- function excerpt(content) {
  - if(content.indexOf("<!-- more-->") == -1) return content;
  - else return content.split("<!-- more-->")[0];
- }

doctype xml
rss(version="2.0", xmlns:atom="http://www.w3.org/2005/Atom")
  channel
    title= title
    link= url
    description= description
    language= language
    atom:link(href="#{ url }feed.xml", rel="self", type="application/rss+xml")
    for post, slug in public.portfolio._data
      item
        title= post.title
        description <![CDATA[!{ excerpt(partial('portfolio/' + slug)) }]]>
        pubDate= new Date(post.date)
        link #{ url }portfolio/#{ slug }.html
        guid(isPermaLink="true") #{ url }portfolio/#{ slug }.html
