include /mixins.pug

doctype
html(lang=global.language class=className)
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title=title
    meta(name="description" content=description)
    meta(name="author" content=global.author)
    meta(name="theme-color" content="#222")
    each href in (stylesheets || [])
      link(rel="stylesheet" href=href)
    link(rel="stylesheet" href="/styles/index.css")
    block styles
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="alternate" href=`${global.url}/feed.xml` type="application/rss+xml" title="Ole Michelsen Latest Updates")
    block head
    include /analytics.pug

  body(itemscope itemtype="http://schema.org/WebPage")

    #container
      header#header
        nav#topnav
          ul.menu.content
            li
              a(href="/") Home
            li
              a(href="/blog/" title="Um gesh de blårg blårg!") Blog
            li
              a(href="/portfolio/" title="Things I do") Portfolio
            li
              a(href="/tools/" title="Things I build") Tools
            li
              a(href="/photos/" title="Things I see") Photos
            li.feed
              a(href="/feed.xml" title="Latest things") Feed

      #content
        block content
          != content

      footer#footer
        .content
          p.colophon
            if (dateModified || date)
              | Updated&nbsp;
              +date(dateModified || date)
          include /breadcrumbs.pug

    each src in (javascripts || [])
      script(src=src)
    block scripts
