extends ../_layout.jade

block content
  .masthead
  .content(itemscope, itemtype="http://schema.org/Blog")
    if current.source === 'index'
      != yield
    else
      article(itemprop="blogPosts", itemscope, itemtype="http://schema.org/BlogPosting")
        h1.entry-title(itemprop="headline")= title
        != partial('../_shared/entry-meta')
        != yield
        != partial('../_shared/blog-navigation', public.blog)
        #disqus_thread.entry-comments

block scripts
  if current.source !== 'index'
    - var shortname = 'olemichelsen';
    - var identifier = url + 'blog/' + current.source + '.html';
    script(src='#{ libs.highlight }')
    script.
      hljs.initHighlightingOnLoad();
    script.
      var disqus_config = function () {
        this.page.identifier = '#{ identifier }';
        this.page.url = '#{ identifier }';
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = '//#{ shortname }.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
