- function excerpt(content) {
  - if(content.indexOf("<!-- more-->") == -1) return content;
  - else return content.split("<!-- more-->")[0];
- }

for item, slug in public.blog._data
  if slug !== 'index'
    article
      h2.entry-title
        a(href='/blog/#{ slug }.html')= item.title
      != partial('../_shared/entry-meta', item)
      .entry-excerpt
        != excerpt(partial(slug))
        .entry-link
          a(href='/blog/#{ slug }.html') Continue reading →

ins.adsbygoogle(
  style="display:block"
  data-ad-format="fluid"
  data-ad-layout="image-side"
  data-ad-layout-key="-fe+5b+8u-ew-3y"
  data-ad-client="ca-pub-6233724807987273"
  data-ad-slot="1594249289"
)

block scripts
  script(async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  script (adsbygoogle = window.adsbygoogle || []).push({});
