include ../_shared/picture

p
  b Update
  | :
  i The bookmarklet has been updated to work with iOS 13+ and without a server backend

p My new iPad has become my primary tool for surfing, but alas it completely lacks a view source feature for looking at the source code of all those websites.

p To get around this limitation we can use a <i>bookmarklet</i> which is a piece of JavaScript saved as a bookmark. When you click the bookmark, the source code of the current page will be shown in a new window with a few bells and whistles:

// more

ul
  li The code is syntax highlighted (using <a title="Prism" href="https://prismjs.com" target="_blank">Prism</a>)
  li Links are clickable, so you can follow scripts etc.
  li Text is fully selectable

p
  +picture("/images/blog/view-source-on-the-ipad-and-iphone/source.png", 723, 350, "Clicking the bookmarklet will display the source of the web page in a new window/tab")

h2 The code

p The following bookmarklet code copies the <abbr title="Document Object Model">DOM</abbr> and shows it in a new window with syntax highlighting:

pre
  code.language-javascript
    :markdown
      javascript:(() => {
        var e = 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0',
        t = window.open('about:blank').document;
        t.write(\`
          <!DOCTYPE html>
          <html>
            <head>
              <title>Source of ${location.href}</title>
              <link rel=stylesheet href=${e}/themes/prism.min.css>
            </head>
            <body bgcolor=#f5f2f0>
              <script src=${e}/components/prism-core.min.js></script>
              <script src=${e}/plugins/autoloader/prism-autoloader.min.js></script>
              <script src=${e}/plugins/autolinker/prism-autolinker.min.js></script>
            </body>
          </html>\`),
        t.close();
        var r = t.body.appendChild(t.createElement('pre')).appendChild(t.createElement('code'));
        r.className = 'language-html',
        r.appendChild(t.createTextNode(document.documentElement.outerHTML))
      })();

h2 How to install it

p To add it on your computer and sync it to your iPad, just drag this link to your bookmarks:

p.indent
  a(
    href="javascript:(()=>{var e='https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0',t=window.open('about:blank').document;t.write(`<!DOCTYPE html><html><head><title>Source of ${location.href}</title><link rel=stylesheet href=${e}/themes/prism.min.css></head><body bgcolor=#f5f2f0><script src=${e}/components/prism-core.min.js></script><script src=${e}/plugins/autoloader/prism-autoloader.min.js></script><script src=${e}/plugins/autolinker/prism-autolinker.min.js></script></body></html>`),t.close();var r=t.body.appendChild(t.createElement('pre')).appendChild(t.createElement('code'));r.className='language-html',r.appendChild(t.createTextNode(document.documentElement.outerHTML))})();"
    title="View Source Bookmarklet"
  )
    | View Source
  em &nbsp;(click to try it out)

p To add it directly from your iPad (or iPhone), you need to create the bookmark manually:

ol
  li Add this page as a bookmark
  li Then <a href="https://ole.michelsen.dk/viewsource/bookmarklet.min.js">click here to see the bookmarklet code</a> and Select All → Copy
  li Now edit that same bookmark, paste the code you just copied into the URL and name it something like "View Source"

p
  +picture("/images/blog/view-source-on-the-ipad-and-iphone/bookmarklet.png", 600, 450, "Edit the bookmark and paste the bookmarklet code")

p Voilá!

p Note that the source shown is the generated <abbr title="Document Object Model">DOM</abbr>, and not the original HTML. These might differ depending on the amount of JavaScript used on the page.

p
  i Originally inspired by <a title="iPad View Source Bookmarklet" href="http://www.ravelrumba.com/blog/ipad-view-source-bookmarklet/" target="_blank">this bookmarklet from Rob Flaherty</a>.