p
  a(href='http://www.hnp.dk', hreflang='da', rel='external') Hillerød NetParty (HNP)
  | &nbsp;was an association located in Hillerød, with the purpose of hosting&nbsp;
  abbr(title='Local Area Network') LAN
  | /netparties for members, where they could meet to play games and participate in competitions and events. It was started by my friends (
  a(href='http://www.jonatanpedersen.com/', target='_blank') Jonatan Pedersen
  | &nbsp;among others) in 1998, and quickly grew to have over 300 members. In total eight parties were held, primarily in Hillerød Handelsskole.
p
  | I was part of the&nbsp;
  a(href='http://www.hnp.dk/crew.html', hreflang='da', rel='external') Organizer team
  | &nbsp;from&nbsp;
  a(href='http://www.hnp.dk/historie3.html', hreflang='da', rel='external') HNP #3
  | &nbsp;and onwards, and was responsible for the main website, handling member registration and a table booking service for the upcoming parties, as well as a history section with competition results and reviews. Additionally I developed internal web services for the parties, handling the tournament game plans and player statistics.
  br
  | The systems were based on&nbsp;
  abbr(title='Active Server Pages 3.0') ASP
  | &nbsp;and an MS Access database, and later moved to PHP and MySQL on Linux servers. We also hosted a large array of game servers for all the most popular games, which ran on a variety of *nix boxes. We used&nbsp;
  abbr(title='Common Gateway Interface') CGI
  | -scripts for gathering statictics for player rankings, well before online gaming had adapted similar score boards.
ul.screenshots
  li
    h4 Front
    img.frame(src='#{ cdn }portfolio/hnp/hnp-front.jpg', alt='Front', width='400', height='378')
  li
    h4 Crew organizing the events
    img.frame(src='#{ cdn }portfolio/hnp/hnp-crew.jpg', alt='List of crew members organizing the parties', width='400', height='378')
  li
    h4 Tagwall
    img.frame(src='#{ cdn }portfolio/hnp/hnp-tagwall.jpg', alt='Tagwall', width='400', height='378')
  li
    h4 History &amp; pictures
    img.frame(src='#{ cdn }portfolio/hnp/hnp-history-5.jpg', alt='History and pictures from the parties', width='400', height='378')
h3 Setting up
p
  | Here are some photos from one of the parties, held in Hillerødholmsskolen. The tables were arranged in sections, and setup so each seat had access to a 100 Mbit/s network connection and 2 AC plugs. The centre stage was for music events and projection of animation and movie competitions as well as game finals.
ul.screenshots
  li
    h4 The main hall
    img.frame(src='#{ cdn }portfolio/hnp/hnp7-1.jpg', alt='Main hall, setup from HNP#7', width='400', height='300')
  li
    h4 The members have arrived
    img.frame(src='#{ cdn }portfolio/hnp/hnp7-2.jpg', alt='Members computers from HNP#7', width='400', height='300')
