ul.projects
  for item, slug in public.portfolio._data
    if (slug !== 'index')
      li
        a(
          href='/portfolio/#{ slug }.html'
          style='background-image: url(/images/portfolio/#{ slug }/thumb.png)'
        )
          span.text
            span.title= item.title
            span.tags
              b= item.created
              | &nbsp;·&nbsp;
              != item.keywords
