ul.projects
  for item, slug in public.portfolio._data
    if (slug !== 'index')
      - var img = slug + '/' + (item.image || 'thumb.png')
      li
        a(
          href='/portfolio/#{ slug }.html'
          style='background-image:url(/images/portfolio/#{ img })'
        )
          span.text
            span.title= item.title
            span.tags
              b= item.created
              | &nbsp;·&nbsp;
              != item.keywords
