- function sortFolder(root) {
-   var folders = _.pickBy(root, (value, key) => key.indexOf('_') === -1);
-   _.map(folders, (value, key) => _.merge(value, {key}));
-   var sorted = _.orderBy(folders, '_data.index.date', 'desc');
-   return sorted;
- };

<!--email_off-->
style
  each item in sortFolder(public.portfolio)
    - var path = '/portfolio/' + item.key + '/';
    - var img = path + (item._data.index.image || 'thumb.png');
    != '.' + item.key + '{background-image:url(' + img + ')}'
    if !/\.svg$/.test(img)
      != '@media(-webkit-min-device-pixel-ratio:2),(min-resolution: 2dppx){.' + item.key + '{background-image:url(' + img.replace(/\.(\w{3})$/, '@2x.$1') + ')}}'
<!--/email_off-->

ul.projects
  each item in sortFolder(public.portfolio)
    li
      a.project(
        class=item.key
        href="/portfolio/#{ item.key }/"
      )
        span.text
          span.title= item._data.index.title
          span.tags
            b= item._data.index.created
            | &nbsp;·&nbsp;
            != item._data.index.keywords
