---
layout: layouts/base.pug
title: Ole Michelsen
description: I'm a Software Engineer and hobby photographer from Denmark living in San Francisco.
date: 2021-10-21
---

include /mixins.pug

mixin feed(item, url, defaultType)
  li
    a.type(href=url)
      span(class=`icon-${ item.type || defaultType || 'michelsen' }`)
    a.title(href=url)= item.title
    br
    +date(item.dateModified || item.date)

.landingpage
  .hero
    h2 Hi, I'm
    h1 Ole Michelsen

  .panels.grid
    section.profileTitle.text
      h2 About
      p I was born in Denmark, moved to San Francisco and ended up in Seattle.
      p I work at Meta building webby stuff.
      p I like traveling and taking #[a(href="/photos/") lots of photos].
      p I made crossword game, #[a(href="/portfolio/regexmobile/") Regex Crossword], that lets you to solve puzzles with regular expressions. How cool is that.
      p I write #[a(href="/blog/") blog articles] to remember things.

      ul.socialIconLinks
        li
          a.iconLink(href='https://github.com/omichelsen' rel='external' title='Github')
            i.icon-github
        li
          a.iconLink(href='https://www.linkedin.com/in/omichelsen/' rel='external' title='LinkedIn')
            i.icon-linkedin
        li
          a.iconLink(href='https://twitter.com/omichelsen' rel='external' title='Twitter')
            i.icon-twitter
        li
          a.iconLink(href='https://www.facebook.com/olemichelsen' rel='external' title='Facebook')
            i.icon-facebook

    section.profileDetails.text
      h3 Experience
      ol
        li Meta #[em.small (Software Engineer — 2022-present)]
        li LogMeIn #[em.small (Software Engineer &amp; Head of Engineering Community — 2017-2022)]
        li Citrix #[em.small (Software Engineer — 2014-2017)]
        li Edora A/S #[em.small (Software Developer and Scrum Master — 2012-2014)]
        li EET Group A/S #[em.small (Software Developer — 2006-2012)]
        li Sandberg A/S #[em.small (Software Developer — 2001-2006)]
        li Mercedes-Benz #[em.small (IT — 1999-2001)]

      h3 Education and certifications
      ol
        li B.Sc. Computer Science, University of Copenhagen #[em.small 2010]
        li Professional Scrum Master I, Scrum.org #[em.small 2013]

    section.workTitle.text
      h2 Work
      p I have worked on a lot of cool projects during my career. Most of them on the web tech stack.
      p Besides that I create a bunch of side projects when I want to learn some new technology. Some of them are here.

    section.workDetails.text
      h3 Projects
      dl
        each item in [...collections.portfolio].reverse().slice(0, 4)
          dt
            a(href=item.url)= item.data.title
            em.small= ` (${item.data.keywords})`
          dd.small= item.data.short


      h3 Open source
      dl
        each repo in github.filter(({ watchers_count }) => watchers_count > 10)
          dt
            i.icon-github &nbsp;
            a(href=repo.html_url)= repo.name
            if repo.language
              em.small= ` (${repo.language})`
          dd.small= repo.description

    section.photosTitle.text
      h2 Photos
      p Taking photos has taken me to some incredible places and outside of my normal comfort zone.
      p I've met interesting and wonderful people and it's provided me a different perspective on life and an incentive to keep exploring the world around me.

    section.photosDetails
      a.grid(href="/photos/" title="Photo gallery")
        .tile
        .tile
        .tile
        .tile
